
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Recipe_network.Models;
@model List<CommentMenu>

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Chow</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/colors/green.css" id="colors">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">


        <!-- Header
        ================================================== -->
        <!-- Recipe Background -->
        <div class="recipeBackground">
            <img src="~/images/recipeBackground.jpg" alt="" />
        </div>


        <!-- Content
        ================================================== -->
        <div class="container" itemscope itemtype="http://schema.org/Recipe">

            <!-- Recipe -->
            <div class="twelve columns">
                <div class="alignment">
                    @foreach (var item in ViewBag.list as List<Menuinformation>)
                    {


                        <!-- Header -->
                        <section class="recipe-header">
                            <div class="title-alignment">
                                <h2>@item.MenuinformationName</h2>
                                <div class="rating five-stars">
                                    <div class="star-rating"></div>
                                    <div class="star-bg"></div>
                                </div>
                          
                                
                                    <span><a href="#reviews">(@ViewBag.comment  评论)</a></span>
                                

                            </div>
                        </section>

                        string[] name = item.MenuinformationImg.Split(',');
                        <!-- Slider -->
                        <div class="recipeSlider rsDefault">

                            <img itemprop="image" class="rsImg" src="~/images/@name[0]" alt="" />
                            <img itemprop="image" class="rsImg" src="~/images/@name[1]" alt="" />
                        </div>


                        <!-- Details -->
                        <section class="recipe-details" itemprop="nutrition">
                            <ul>
                                <li>供应： <strong itemprop="recipeYield">@item.yield</strong></li>
                                <li>准备时间 <strong itemprop="prepTime">@item.Setuptime</strong></li>
                                <li>烹饪： <strong itemprop="cookTime">@item.CookingTime</strong></li>
                                <li>卡路里: <strong itemprop="calories">@item.calorie</strong></li>
                            </ul>

                            <div class="clearfix"></div>
                        </section>


                        <!-- Text -->
                        <p itemprop="description">@item.abstractss</p>

                        string[] ingredients = item.Ingredients.Split('~');
                        <!-- Ingredients -->
                        <h3>@item.MenuinformationName 的配料</h3>
                        <ul class="ingredients">
                            @for (int i = 0; i < ingredients.Length -1; i++)
                            {<li>
                                    <label itemprop="ingredients" for="check-1">@ingredients[i]</label>
                                </li>
                            }

                        </ul>


                        <!-- Directions -->
                        <h3>@item.MenuinformationName 的制作流程</h3>
                        foreach (var item2 in ViewBag.BuImage as List<BuImage>)
                        {
                            string[] discript = item2.discriptss.Split('~');
                            string[] BuImageimge = item2.BuImageimge.Split(',');
                            <ol class="directions" itemprop="recipeInstructions">
                                @for (int i = 0; i < discript.Length - 1; i++)
                                {
                                    <li><sapn style="font-size:20px;">@discript[i]</sapn> <img src="~/images/@BuImageimge[i]" style="height:430px;width:700px" /></li>

                                }


                            </ol>
                        }



                    }

                    <!-- Share Post -->

                    <div class="clearfix"></div>


                    <!-- Meta -->
                    <!--  		<div class="post-meta">
                        By <a href="#" itemprop="author">Sandra Fortin</a>, on
                        <meta itemprop="datePublished" content="2014-30-10">30th November, 2014</meta>
                    </div>  -->


                    <div class="margin-bottom-40"></div>


                    <!-- Headline -->
                    <h3 class="headline">您可能还喜欢</h3>
                    <span class="line margin-bottom-35"></span>
                    <div class="clearfix"></div>

                    <div class="related-posts">
                        <!-- Recipe #1 -->
                       
                        @foreach (var item in ViewBag.lists as List<Menuinformation>)
                        {
                           

                        string[] imgs = item.MenuinformationImg.Split(',');


                                    <div class="four recipe-box columns">

                                        <!-- Thumbnail -->
                                        <div class="thumbnail-holder">
                                            <a href="/RecipeShow/Index/@item.MenuinformationID">
                                                <img src="~/images/@imgs[0]" alt="" style="width:276px;height:91px"/>
                                                <div class="hover-cover"></div>
                                                <div class="hover-icon">查看菜谱</div>
                                            </a>
                                        </div>

                                        <!-- Content -->
                                        <div class="recipe-box-content">
                                            <h3><a href="/RecipeShow/Index/@item.MenuinformationID">@item.MenuinformationName</a></h3>

                                            <div class="rating five-stars">
                                                <div class="star-rating"></div>
                                                <div class="star-bg"></div>
                                            </div>

                                            <div class="recipe-meta"><i class="fa fa-clock-o"></i> @item.Setuptime</div>

                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                   

                                }
                            
                        

                        <!-- Recipe #3 -->

                    </div>
                    <div class="clearfix"></div>


                    <div class="margin-top-15"></div>


                    <!-- Comments
                    ================================================== -->
                    <h3 class="headline">评论 <span class="comments-amount">(@ViewBag.comment)</span></h3><span class="line"></span><div class="clearfix"></div>

                    <!-- Reviews1 -->
                    <section class="comments" id="reviews">

                        <ul>
                            <li>

                                @{
                                    ChowhoundNetEntities11 db = new ChowhoundNetEntities11();
                                    List<UserInfo> us = db.UserInfo.ToList();
                                }
                                @foreach (var item in Model)
                                {
                                    foreach (var i in us)
                                    {
                                        if (i.userID == item.userID)
                                        {<div class="avatar"><img src="~/images/@i.userpic" alt="" /></div>
                                            <div class="comment-content">
                                                <div class="arrow-comment"></div>
                                                <div class="comment-by">
                                                    <strong>@i.UName</strong><span class="date">@item.commenttime</span>


                                                </div>


                                                <p>@item.contentss</p>



                                            </div>
                                            <br />
                                        }
                                    }

                                }







                                <!-- Second Level -->
                            </li>
                        </ul>

                    </section>
                    <div class="clearfix"></div>
                    <br>


                    <!-- Add Comment
                    ================================================== -->

                    <h3 class="headline">添加评论</h3><span class="line margin-bottom-35"></span><div class="clearfix"></div>

                    <!-- Add Comment Form -->
                    <form id="add-review" class="add-comment" action="/RecipeShow/commentAdd">
                        <fieldset>

                            <div class="clearfix"></div>
                            <div>
                               
                                <textarea cols="40" rows="3" name="contents" id="contents"></textarea>
                            </div>

                        </fieldset>
                        <button type="submit">添加评论</button>
                        @*<a href="#" class="button medium color" onclick="commentAdd()">添加评论</a>*@
                        <div class="clearfix"></div>

                    </form>

                </div>
            </div>


            <!-- Sidebar
            ================================================== -->
            <div class="four columns">

                <!-- Search Form -->
                <div class="widget search-form">
                    <nav class="search">
                        <form action="/RecipeShow/FindAllss" method="post">
                            <button onclick="aa()"><i class="fa fa-search"></i></button>
                            <input class="search-field" type="text" placeholder="查询食谱" value="" id="search" name="search" />
                        </form>
                    </nav>
                    <div class="clearfix"></div>
                </div>

                @using Recipe_network.Models
                <!-- Author Box -->
                <div class="widget">
                    <div class="author-box">
                        @foreach (var item in ViewBag.users as List<UserInfo>)
                        {


                            <span class="title">作者</span>
                            <span class="name"> @item.UName</span>
                            <span class="contact"><a href="mailto:sandra@chow.com"></a></span>

                            <img src="~/images/@item.userpic" alt="">


                            <p>@item.discriptss</p>
                        }
                    </div>
                </div>


                <!-- Popular Recipes -->
                <div class="widget">
                    <h4 class="headline">热门食谱</h4>
                    <span class="line margin-bottom-30"></span>
                    <div class="clearfix"></div>

                    <!-- Recipe #1 -->
                    @foreach (var item in ViewBag.list4 as List<Menuinformation>)
                    {
                        <a href="/RecipeShow/Index/@item.MenuinformationID" class="featured-recipe">
                            <img src="~/images/@item.MenuinformationImg" alt="">

                            <div class="featured-recipe-content">
                                <h4>@item.MenuinformationName</h4>

                                <div class="rating five-stars">
                                    <div class="star-rating"></div>
                                    <div class="star-bg"></div>
                                </div>
                            </div>
                            <div class="post-icon"></div>
                        </a>
                    }


                    <!-- Recipe #3 -->


                    <div class="clearfix"></div>
                </div>


                <!-- Popular Recipes -->
              

            </div>


        </div>
        <!-- Container / End -->


    </div>
    <!-- Wrapper / End -->
    <!-- Footer
    ================================================== -->
    <div id="footer">

        <!-- Container -->
        <div class="container">





        </div>
        <!-- Container / End -->

    </div>
    <!-- Footer / End -->
    <!-- Footer Bottom / Start -->
    <div id="footer-bottom">

        <!-- Container -->
        <div class="container">

          

        </div>
        <!-- Container / End -->

    </div>
    <!-- Footer Bottom / End -->
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>



    <!-- Java Script
    ================================================== -->
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/jquery.superfish.js"></script>
    <script src="~/js/jquery.royalslider.min.js"></script>
    <script src="~/js/responsive-nav.js"></script>
    <script src="~/js/hoverIntent.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/chosen.jquery.min.js"></script>
    <script src="~/js/jquery.tooltips.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.pricefilter.js"></script>
    <script src="~/js/custom.js"></script>


    <!-- Style Switcher
    ================================================== -->
    <script src="~/js/switcher.js"></script>

    @section scripts{
        <script type="text/javascript">
            function commentAdd() {
                var contents = $("#contents").val();
                $.ajax({
                    type: "post",
                    url: "/RecipeShow/commentAdd",
                    data: { "contents": contents }

                });




            }



        </script>




    }
</body>
</html>

